<!doctype html>
<head>
    <title>Landing Page</title>
</head>
<body>
    <p>This web application has a number of potential pages to explore</p>
    <ul>
        <li><p><a href='/image'>We have some awesome images</a></p></li>
        <li><p><a href='/top'>Some useful statistics</a></p></li>
        <li><p><a href='/shell'>Something about a shell...(are we at the beach?)</a></p></li>
        <li><p><a href='/help'>And even some useful help</a></p></li>
    </ul>
    <p>Feel free to look around and see what you can make of this.</p>
    <p>P.S. This application is running as root on your system, so be careful</p>
</body>